<script>
    import {onMount} from 'svelte';
    import MapBackground from './MapBackground.svelte';
    import PointCard from './PointCard.svelte';
    import Pager from './Pager.svelte';
    import { loadByCoordinates } from './api';
    let points = [];
    let selectedPointIndex;
    let selectedPoint;

    $: {
        selectedPoint = points[selectedPointIndex];
    }

    const onMapUpdated = async params => {
        try {
            points = await loadByCoordinates(params);
            selectedPointIndex = 0;
        } catch (e) {
            console.log('Something went wrong during fetch')
        }
    };


</script>

<div class="app-container">
    <div class="header">
        {#if points.length > 0}
            { selectedPointIndex + 1 } / { points.length }
        {:else}
            No pianos found around :(
        {/if}
    </div>
    <div class="overlay">
        <div class="overlay-content">
            {#if points.length > 0}
            <PointCard point={selectedPoint}/>
            <div class="pager">
                <Pager on:next={() => selectedPointIndex++} on:prev={() => selectedPointIndex--} current={selectedPointIndex} total={points.length - 1}/>
            </div>
            {/if}
        </div>
    </div>
    <div class="map">
        <MapBackground
            points="{points}"
            on:pointActive={e => selectedPointIndex=e.detail.pointIndex}
            on:mapUpdated={e => onMapUpdated(e.detail)}
            selectedPointIndex={selectedPointIndex}
        />
    </div>
</div>

<style>
    .app-container {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }

    .header {
        height: 2em;
        line-height: 2em;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 2;
        text-align: center;
    }

    .map {
        height: calc(100% - 2em);
        padding-bottom: -2em;
    }

    .overlay {
        position: absolute;
        min-width: auto;
        right: 5%;
        left: 5%;
        bottom: 5%;
        z-index: 2;
        overflow: visible;
        text-align: center;
    }

    .pager {
        margin-top: 1em;
    }

    @media(min-width: 480pt) {
        .overlay {
            min-width: 32em;
            right: 35%;
            left: 35%;
        }
        .overlay-content {
            display: inline-block;
            width: 24em;
        }
    }

</style>