<script>
import { afterUpdate, onMount, createEventDispatcher } from 'svelte';
import { Map, Geocoder, Marker, controls } from '@beyonk/svelte-mapbox';

const { GeolocateControl, NavigationControl } = controls;

export let points = [];
export let selectedPointIndex;

const dispatch = createEventDispatcher();
let mapComponent;
let markers = [];
let zoom = 1;
// offset to show an item above the card
// there might be a better solution with coordinates from actual screen size
const mapCenterOffset = { x: 0, y: 0 };


const getCoordinatesWithOffset = coordinates => {
    const map = mapComponent.getMap();
    if (!map) {
        return coordinates;
    }

    const pixelCoordinates = map.project([coordinates.lon, coordinates.lat]);

    const newPixelCoordinates = {
        x: pixelCoordinates.x + mapCenterOffset.x,
        y: pixelCoordinates.y + mapCenterOffset.y
    };

    return map.unproject([newPixelCoordinates.x, newPixelCoordinates.y]);
}

const flyTo = (coordinates) => {
    mapComponent.flyTo({
        center: [coordinates.lon, coordinates.lat]
    })
}

const selectPoint = index => {
    const point = points[index];
    const marker = markers[index];
    if (!point || !marker) {
        return;
    }

    flyTo(point);
    markers.forEach(m => {
        if (m.getMarker().getPopup().isOpen()) {
            m.getMarker().togglePopup();
        }
    });
    marker.getMarker().getPopup().setText(`#${point.id}`);
    marker.getMarker().togglePopup();
}

onMount(() => {
    const center = { lat: 0, lon: 0 };
    const coordinates = getCoordinatesWithOffset(center);
    flyTo(coordinates);

    dispatch('mapUpdated', {
        lat: coordinates.lat,
        lon: coordinates.lon,
        zoom: zoom,
        radius: 1000
    });
});

$: selectPoint(selectedPointIndex)

afterUpdate(() => {
    markers.forEach((marker, index) => {
        if (!marker || !marker.getMarker()) {
            return;
        }
        const popup = marker.getMarker().getPopup();
        popup.on('open', p => {
            dispatch('pointActive', {
                pointIndex: index
            });
        });
    });
});

let center = { lat: 0, lon: 0 };

function eventHandler (e) {
    const data = e.detail
    const coordinates = getCoordinatesWithOffset({
        lat: data.center.lat,
        lon: data.center.lng,
    });

    center = coordinates;

    dispatch('mapUpdated', {
        ...{
            zoom: mapComponent.getMap().getZoom(),
            radius: 1000
        },
        ...coordinates
    });
}
</script>

<div class="map-container">
    <Map
      accessToken="pk.eyJ1IjoiZm9vYmFyYmF6IiwiYSI6ImNpZXU3b2c4bDAwNXR0cGtzZnY4N2swNzMifQ.e4Z01G_x33vo1GtDgD_cww"
      bind:this={mapComponent}
      on:recentre={eventHandler}
      on:click={eventHandler}
      options={{ scrollZoom: false }}
    >
        {#each points as point, i}
            <Marker lat={point.lat} lng={point.lon}
                bind:this={markers[i]}
                color="rgb(200,200,200)"
                label="i"
                popupClassName="class-name"
            />
        {/each}
      <NavigationControl />
      <GeolocateControl options={{ }} />
    </Map>
</div>

<style>
.map-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
</style>

