<script>
import { createEventDispatcher } from 'svelte';

export let current = 0;
export let total = 0;

let isFirst = false;
let isLast = false;

const dispatch = createEventDispatcher();

const tryGoNext = () => { if (current < total) { dispatch('next'); } }
const tryGoPrev = () => { if (current > 0) { dispatch('prev'); } }


$: {
	isFirst = 0 === current;
	isLast = current === total;
}

</script>

<div class="card-navigation-container">
    <button on:click={tryGoPrev} class="card-navigation" disabled={isFirst}>Prev</button>
    <button on:click={tryGoNext} class="card-navigation" disabled={isLast}>Next</button>
</div>
<style>
.card-navigation-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-navigation {
    height: 3em;
    min-width: 10em;
    text-align: center;
    margin: 0px;
    border: 2pt solid darkgray;
    border-radius: 0.4em;
    background-color: white;
}

.card-navigation:disabled {
	/*background-color: gray;*/
	opacity: 0.4;
}

</style>