<script>
import { addPianoActivity } from './api';
export let point;

let title;
let description;
let lastUpdated;

$: {
    if (point) {
        title = `#${point.id}`;
        description = `lat: ${point.lat}; lon: ${point.lon}`;
    } else {
        title = 'Unknown';
        description = '';
    }
}


const doPianoAddActivity = async () => {
    lastUpdated = await addPianoActivity({ pianoID: point.id });
}

</script>




<div class="card-container">
    <h1 class="card-title">{ title }</h1>
    <div class="card-description">{description}</div>

    <div class="card-action-block">
        <button class="card-action-button" on:click={doPianoAddActivity}>Mark as active</button>
    </div>
    <div class="last-updated-block">
        Last updated: {#if lastUpdated }{lastUpdated}{:else}never{/if}
    </div>
</div>



<style>
    .card-container {
        position: relative;
        width: 100%;
        height: 100%;
        height: 14em;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 0.4em;
    }

    .card-title {
        width: 100%;
        margin: 0px;
        padding: 0.4em 0em;
        text-align: center;
    }

    .card-description {
        margin: 1em;
    }

    .card-action-block {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 1em 2em;
    }

    .card-action-button {
        display: block;
        width: 100%;
        height: 2.4em;
        background-color: darkorange;
        font-weight: bold;
        color: white;
        border: 0px;
        border-radius: 0.4em;
    }

    .last-updated-block {
        position: absolute;
        bottom: 0.4em;
        right: 1em;
        font-size: 80%;
        opacity: 0.8;
        text-align: right;
    }
</style>